html, body{
    height: auto;
}
	
body {
	margin: 0px;
	padding: 0px;
	background: #181818;
    font-family: 'Didact Gothic', sans-serif;
	font-size: 12pt;
    font-weight: 200;
	color: #FFF;
}

#header-wrapper {
    height: 50px;
	position: relative;
	padding:  8em 9em 80em 8em;
	background: #111111 url(a.jpg);
	background-size: cover;
    width: auto;
}

header {
    width: 80%;
    height: 112px;
	position: absolute;
    top: 18px;
    text-align: center;
    position: sticky
	padding: 9em 0em;
    background-image: url(b.jpg);
    border-radius: 11px;
}

.judul{
    
    text-align: center;
    color: #111;
    font-family: Cooper Black;
}

.logo1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 28%
}

.logo2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 28%;
}

a
{
	color: #ee0000;
}
	
a:hover
{
	text-decoration: none;
}
	
.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}


#menu
{
    width: 100%;
    background-color: #1e123a;
	position: absolute;
    left: 1px;
	top: 115px;
    border-radius: 11px;
}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}
	
#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .active a
{
	background: #2651a8;
	border-radius: 6px;
	color: rgba(255,255,255,1);
}

.contentbox{
    width: 1048px;
    height: auto;
    background-color: #a3a3a3;
	position: absolute;
    left: 129px;
	top: 180px;
    border-radius: 10px;
    padding: 9px 15px;
}

h2 {
    text-align: center;
}

.boxvisi{
    width: 80%px;
    height: auto;
    background-color: #0f0d23;
    border-radius: 10px;
    padding: 9px 15px;
}